<header class="home-header">
    <div class="navbar" >
        <nav>
            <ul>
                <li><%=link_to "Menus List", menus_path, class:"color"%></li>
                <li><%=link_to "New menu", new_menu_path, class:"color"%></li>
            </ul>
        </nav>
    </div>
    <h2>Welcome on Menus Free Suggestions App</h2>
   
    <marquee class="marquee" direction="up">Enjoy your own menu!</marquee>
</header>

<div class="img1">
<%= image_tag("bouffe.jpg",height: "700px", witdh: "400px", class:"img2") %>

</div>