<header class="home-header">
    <div class="navbar" >
        <nav>
            <ul>
                <li><%=link_to "Mes menus", menus_path, class:"color"%></li>
                <li><%=link_to "Créer un menu", new_menu_path, class:"color"%></li>
            </ul>
        </nav>
    </div>
    <h1>Pas d'idée pour ton menu, je suis là.</h1>
   
    <marquee class="marquee" direction="up">Bonne dégustation.</marquee>
</header>

