.dropdown {
    position: absolute;
    top: 100%;
    right: 25px;
  }

.nav-item{
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
    margin-left: 14px;
}

.dropdown-menu{
   border: 1PX BLACK solid;
}
.dropdown{
    border:0px solid;
}