@import "bootstrap/scss/bootstrap";
@import "new";
@import "index";
@import "show";
@import "home";
@import "edit";
@import "base";
@import "font-awesome";
@import "header";
$spacer:8px;



*{
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
}

body{
   height: 80vh;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center; 
    background-image:url(CUISINE.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: cover;
}

@media screen and (max-width: 576px) {
    body{
        background-position: right;
    }
}

