@import "bootstrap/scss/bootstrap";
@import "new";
@import "index";
@import "show";
@import "home";
@import "edit";
@import "base";
@import "font-awesome";
$spacer:8px;



*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

body{
   height: 80vh;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center; 
    background-image:url(CUISINE.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
   
}

