#notice{
    color: red;
    font-weight: bold;
    }
    
    .receipt{
        border: 1px solid gray;
        font-weight: bold;
        background-color: lightgray;
        padding: 5px;
    }
    

   
    
    
    
    
    
    